modbus/click-holding-register.json
[{"id":"11a0d0a2.ad03df","type":"tab","label":"Click-Holding-registers","disabled":false,"info":""},{"id":"71f4e419.d9e3ec","type":"modbus-read","z":"11a0d0a2.ad03df","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":true,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"7","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2657d2b5.0a2dfe","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":400,"y":220,"wires":[["15825b9f.fcc8f4"],["9e172cc4.46956"]]},{"id":"9e172cc4.46956","type":"modbus-response","z":"11a0d0a2.ad03df","name":"","registerShowMax":20,"x":750,"y":280,"wires":[]},{"id":"15825b9f.fcc8f4","type":"http request","z":"11a0d0a2.ad03df","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.0.240:3000/boilerstate","tls":"","persist":false,"proxy":"","authType":"","x":760,"y":220,"wires":[[]]},{"id":"93126a99.f19dc8","type":"modbus-write","z":"11a0d0a2.ad03df","name":"","showStatusActivities":true,"showErrors":true,"unitid":"","dataType":"HoldingRegister","adr":"3","quantity":"1","server":"2657d2b5.0a2dfe","emptyMsgOnFail":false,"keepMsgProperties":false,"x":680,"y":440,"wires":[[],["1d9ecfc6.a914f"]]},{"id":"1d9ecfc6.a914f","type":"debug","z":"11a0d0a2.ad03df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":440,"wires":[]},{"id":"b49bd70c.2734f8","type":"debug","z":"11a0d0a2.ad03df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":380,"wires":[]},{"id":"6dc4abd0.c8f324","type":"http in","z":"11a0d0a2.ad03df","name":"","url":"/mb","method":"post","upload":false,"swaggerDoc":"","x":360,"y":600,"wires":[["e20566bc.901fe8","7798a635.426dd8"]]},{"id":"e20566bc.901fe8","type":"http response","z":"11a0d0a2.ad03df","name":"","statusCode":"200","headers":{},"x":610,"y":620,"wires":[]},{"id":"7798a635.426dd8","type":"function","z":"11a0d0a2.ad03df","name":"","func":"return {payload: msg.payload.value};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":440,"wires":[["b49bd70c.2734f8","93126a99.f19dc8"]]},{"id":"2657d2b5.0a2dfe","type":"modbus-client","z":"","name":"Click","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.10","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true}]