modbus/flows.json
[{"id":"11a0d0a2.ad03df","type":"tab","label":"Modbus on Click Demo","disabled":false,"info":""},{"id":"ac98106c.e0881","type":"modbus-read","z":"11a0d0a2.ad03df","name":"Output1","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"","dataType":"Coil","adr":"08194","quantity":"1","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"2657d2b5.0a2dfe","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":390,"y":320,"wires":[["e9e900a9.b954a"],["14976177.8259cf","d0edb458.7d7218"]]},{"id":"e9e900a9.b954a","type":"debug","z":"11a0d0a2.ad03df","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":300,"wires":[]},{"id":"14976177.8259cf","type":"modbus-response","z":"11a0d0a2.ad03df","name":"ReadResp","registerShowMax":20,"x":630,"y":380,"wires":[]},{"id":"66923f7f.cb743","type":"modbus-write","z":"11a0d0a2.ad03df","name":"setoutput","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"08195","quantity":"1","server":"2657d2b5.0a2dfe","emptyMsgOnFail":false,"keepMsgProperties":false,"x":630,"y":520,"wires":[[],["f14e99e.de02068"]]},{"id":"de6ee290.ee45a","type":"inject","z":"11a0d0a2.ad03df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":400,"y":520,"wires":[["66923f7f.cb743"]]},{"id":"f14e99e.de02068","type":"modbus-response","z":"11a0d0a2.ad03df","name":"","registerShowMax":20,"x":870,"y":520,"wires":[]},{"id":"d0edb458.7d7218","type":"http request","z":"11a0d0a2.ad03df","name":"resp","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://192.168.0.240:3000/modbus","tls":"","persist":false,"proxy":"","authType":"","x":900,"y":340,"wires":[["8f14ae8e.60c78"]]},{"id":"8f14ae8e.60c78","type":"debug","z":"11a0d0a2.ad03df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1080,"y":340,"wires":[]},{"id":"2657d2b5.0a2dfe","type":"modbus-client","z":"","name":"Click","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.0.10","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true}]